*go.mod
*go.sum

#readable files generated every proof
*.txt


/main/main
/main/keys
/main/prover

/ZKPinchain/fileproof/vendor
/ZKPinchain/fileproof/fileproof
/ZKPinchain/fileproof-cli/prover/prover
/ZKPinchain/fileproof-cli/ttp/ttp
/ZKPinchain/hashes/main