/hashes/go.*
/hashes/main
/main/go.mod
/main/go.sum
/main/main
/main/keys
/main/prover
main/test/go.*
/gnark_exemple/go.*
/ZKPinchain/fileproof/vendor
/ZKPinchain/fileproof/fileproof
/ZKPinchain/fileproof/go.*
/ZKPinchain/fileproof-cli/keys
/ZKPinchain/fileproof-cli/prover/go.*
/ZKPinchain/fileproof-cli/prover/prover
/ZKPinchain/fileproof-cli/r1cs
/ZKPinchain/fileproof-cli/ttp/go.*
/ZKPinchain/fileproof-cli/ttp/ttp
/ZKPinchain/hashes/go*
/ZKPinchain/hashes/main